@font-face {
    font-family: Dosis;
    src: url('../../assets/fonts/Dosis/Dosis-Medium.ttf');
}

@font-face {
    font-family: Hotel;
    src: url('../../assets/fonts/Grand_Hotel/GrandHotel-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../../assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf')
}