footer .logo {
    font-family: Hotel;
    font-size: 2.4rem;
    color: rgb(245, 101, 168);
    transition: all .4s;
}

footer {
    height: 5rem;
    position: relative;
    bottom: 0;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.198);
    font-size: 0.85rem;
}

@media (max-width: 500px) {
    footer {
        font-size: 0.5rem;
    }
}