       .hero-img>* {
           padding: 0;
           margin: 0;
       }

       div.hero-img {
           background-image: url('../../assets/img/homepage/hero.jpg');
           max-width: 500px;
           max-height: 800px;
           display: grid;
           font-family: dosis;
           grid-template-columns: repeat(15, 1fr);
           grid-template-rows: repeat(18, 1fr);
           overflow-x: hidden;
       }

       div .hero-title {
           display: unset;
           grid-column: 1 / span 15;
           grid-row: 1;
           letter-spacing: 3px;
           font-size: 1.8rem;
           margin-top: 1rem;
           margin-left: 1rem;
       }

       h2.hero-subtitle {
           grid-column: 2 / span 14;
           grid-row: 2;
           letter-spacing: 6px;
           font-family: dosis;
           font-size: 1.4rem;
           margin-top: 2rem;
       }

       .hero-desc {
           display: none;
       }

       .hero-button {
           padding: 15px;
           grid-column: 3/ span 9;
           grid-row: 3;
           margin-top: 1.3rem !important;
           background-color: white;
           color: rgb(41, 41, 41);
           border: 2px solid rgba(31, 31, 31, 0.751);
           font-family: dosis;
           font-size: 1.1rem;
           font-weight: bolder;
           letter-spacing: 3px;
           border-radius: 5px;
           transition: all .5s;
           outline: none;
       }

       .hero-button:hover {
           color: rgba(65, 54, 58, 0.851);
           border: 2px solid rgba(65, 54, 58, 0.851);
       }

       .second-part-homepage {
           margin-top: 2rem;
           display: flex;
           flex-direction: column-reverse;
           justify-content: space-around;
           align-items: center;
           height: 70vh;
       }

       img.unicorn-img {
           max-width: 60%;
       }

       .second-part-homepage h2 {
           color: rgb(59, 59, 59);
           letter-spacing: 4px;
           font-size: 1rem;
           line-height: 3rem;
       }

       .second-part-homepage span {
           color: rgb(245, 101, 168);
       }

       .third-part-homepage {
           height: 33rem;
           background-color: rgba(221, 221, 221, 0.555);
       }

       .third-part-homepage h1 {
           font-family: hotel;
           font-size: 4rem;
           color: rgb(245, 101, 168);
           text-align: center;
           margin: 0 auto;
           padding: 0;
           padding-top: 10rem;
       }

       .third-part-homepage h2 {
           font-family: dosis;
           text-align: center;
           font-size: 1.5rem;
           padding: 0;
           margin: 0;
       }

       @media screen and (min-width: 510px) {
           div.hero-img {
               max-width: 700px;
           }
           div .hero-title {
               grid-column: 3 / span 14;
               font-size: 1.9rem;
           }
           h2.hero-subtitle {
               grid-column: 4 / span 14;
           }
           .hero-button {
               grid-column: 4/ span 8;
               max-width: 18rem;
           }
           .second-part-homepage h2 {
               font-size: 1.5rem;
           }
       }

       @media screen and (min-width: 700px) {
           div.hero-img {
               max-width: 1000px;
           }
           div .hero-title {
               grid-column: 4 / span 14;
               font-size: 2.3rem;
           }
           h2.hero-subtitle {
               grid-column: 5 / span 14;
           }
           .hero-button {
               grid-column: 5/ span 6;
           }
           .second-part-homepage {
               height: 80vh;
           }
           img.unicorn-img {
               max-width: 60%;
           }
           .second-part-homepage h2 {
               font-size: 1.7rem;
           }
           .third-part-homepage h1 {
               font-size: 6rem;
           }
           .third-part-homepage h2 {
               font-size: 1.9rem;
           }
       }

       @media screen and (min-width: 850px) {
           div.hero-img {
               max-width: 1000px;
           }
           div .hero-title {
               grid-column: 5 / span 14;
               font-size: 2.7rem;
           }
           h2.hero-subtitle {
               grid-column: 7 / span 14;
               font-size: 2rem;
           }
           .hero-button {
               grid-column: 8/ span 6;
               max-width: unset;
           }
       }

       @media screen and (min-width: 940px) {
           div.hero-img {
               max-width: 1300px;
           }
           div .hero-title {
               grid-column: 7 / span 14;
               font-size: 2.7rem;
           }
           h2.hero-subtitle {
               grid-column: 9 / span 14;
               font-size: 1.9rem;
           }
           .hero-button {
               grid-column: 11/ span 6;
               max-width: 15rem;
           }
       }

       @media screen and (min-width: 940px) {
           div .hero-title {
               grid-column: 7 / span 14;
               grid-row: 3;
           }
           h2.hero-subtitle {
               grid-column: 9 / span 14;
               grid-row: 4;
           }
           .hero-button {
               grid-column: 11/ span 4;
               grid-row: 5;
               max-width: 20rem;
           }
       }

       @media screen and (min-width: 1100px) {
           .third-part-homepage {
               height: 40rem;
           }
           img.unicorn-img {
               max-width: 50%;
           }
           div .hero-title {
               grid-column: 8 / span 14;
           }
           h2.hero-subtitle {
               grid-column: 8 / span 14;
           }
           .hero-button {
               grid-column: 8/ span 4;
               grid-row: 12;
               max-width: unset;
           }
           .hero-desc {
               display: unset;
               grid-column: 8 / span 7;
               grid-row: 5 / span 6;
               line-height: 2rem;
               letter-spacing: 1.1px;
               font-family: roboto;
               font-size: 1.2rem;
               margin-top: 2rem !important;
           }
           div.hero-img {
               max-width: 1600px;
           }
       }

       @media screen and (min-width: 1100px) {
           .hero-button {
               grid-row: 11;
           }
       }

       @media screen and (min-width: 1400px) {
           div.hero-img {
               max-width: 1300px;
           }
           div .hero-title {
               grid-column: 7 / span 9;
               grid-row: 5;
               letter-spacing: 2px;
               font-size: 3.5rem;
               padding-left: 1.6rem;
           }
           h2.hero-subtitle {
               grid-column: 7 / span 7;
               grid-row: 6;
               padding-left: 2.9rem;
           }
           .hero-desc {
               grid-column: 7 / span 10;
               grid-row: 7 / span 4;
               letter-spacing: 2px;
               padding-left: 2.9rem !important;
           }
           .hero-button {
               padding: 10px;
               height: 3rem;
               grid-column: 7/ span 4;
               grid-row: 11;
               margin-left: 2.9rem !important;
               background-color: transparent;
           }
           .second-part-homepage {
               flex-direction: row-reverse;
           }
           .third-part-homepage {
               height: 47rem;
           }
           .third-part-homepage h1 {
               font-size: 9rem;
               padding-top: 13rem;
           }
           .third-part-homepage h2 {
               font-size: 3rem;
           }
       }