.user-msg {
    position: absolute;
    top: 150px;
    right: 280px;
    border: 2px solid rgba(24, 145, 24, 0.707);
    color: rgba(24, 145, 24, 0.707);
    font-weight: bold;
    font-family: dosis;
    padding: 20px 20px;
    background-color: white;
    border-radius: 5px;
}

.user-msg span {
    padding-left: 1rem;
}

.user-msg button {
    color: rgba(24, 145, 24, 0.707);
    font-size: 1rem;
    padding: 0;
}