section.color-setter {
    width: 10rem;
    height: 2rem;
    background-color: rgba(235, 214, 182, 0.721);
}

button.color-pick {
    border-radius: 10px;
    color: transparent;
    border: none;
}