.choose-category {
    flex-direction: column;
    color: grey;
    box-shadow: honeydew;
}

.fa-inbox {
    padding: 5px;
}

.fa-paper-plane {
    padding: 5px;
}

.fa-sticky-note {
    padding: 5px;
}

.fa-star {
    padding: 5px;
}

.fa-trash {
    padding: 5px;
} 