button {
    cursor: pointer;
}

.email-compose {
    position: fixed;
    top: 150px;
    background-color: white;
}

.compose-form {
    position: absolute;
    height: 500px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;
    width: 500px;
    margin-left: 500px;
    margin-bottom: 100px;
    background-color: white;
}

.compose-header {
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}
.compose-header h3 {
    margin-left: 10px;
}

.compose-body {
    flex-direction: column;
    height: 400px;
}

.compose-body .form-text {
    height: 50px;
    width: 100%;
    }

.compose-body .form-text-body {
    height: inherit;
}

.form-btns {
    margin-top: 20px;
    justify-content: space-between;
    background-color: white;
}

.send-btn {
    background-color: rgb(72, 126, 226);
    height: 30px;
    width: 60px;
}

.close-btn {
    color: white;
}