@media (max-width: 1000px) {
    .choose-category {
        width: 3rem;
        padding-left: 1rem;
    }
}

@media (min-width: 1000px) {
    .choose-category {
        width: 13rem;
    }
}

.choose-category {
    flex-direction: column;
}

.email-app-side-container {
    flex-direction: column;
}

.email-app-side-container .side-nav-link.plus {
    border-top: none;
    text-align: center;
    font-size: 1.7rem;
    color: rgb(245, 101, 168);
}

.side-nav-link {
    font-family: roboto;
    font-size: 1rem;
    height: 3.7rem;
    width: 100%;
    text-align: start;
    color: rgb(57, 57, 57);
    letter-spacing: 1.4px;
}

.side-nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(240, 216, 229, 0.507);
}

.side-nav-link:focus {
    color: #000;
}

.side-nav-link:first-child {
    border-top: 1px solid rgba(198, 198, 198, 0.548);
}

.side-nav-link i {
    margin-right: 0.5rem;
}

.side-nav {
    height: 70vh;
}

.fa-inbox {
    padding: 5px;
}

.fa-paper-plane {
    padding: 5px;
}

.fa-sticky-note {
    padding: 5px;
}

.fa-star {
    padding: 5px;
}

.fa-trash {
    padding: 5px;
}

@media (max-width: 1000px) {}