.email-details-container {
    flex-flow: column;
    width: 400px;
    margin-left: 50px;
    justify-content: center;
    border: 1px solid rgba(198, 198, 198, 0.548);
    height: 50vh;
    justify-content: space-between;
    padding: 10px;
}


.email-details-senderName h4 {
    justify-content: space-between;
    border-bottom: 1px solid rgba(198, 198, 198, 0.548);
}

.email-details-container h4 span {
    color: rgb(151, 151, 151);
}


.email-details-btn {
    justify-content: space-between;
    background-color: none;
}

.email-body {
    flex-direction: column;
    border-bottom: 1px solid rgba(198, 198, 198, 0.548);
}

.email-body p{
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(198, 198, 198, 0.548);
}

.returnBackBtn {
    background-color: none;
}
