@media (max-width: 635px) {
    .email-preview i {
        font-size: 0.8rem;
    }
    .email-list-container li {
        font-size: 0.8rem;
        height: 6.5rem;
    }
    .email-line {
        height: 100%;
    }
}

@media (min-width: 635px) {
    .email-preview i {
        font-size: 1.1rem;
    }
    .email-list-container ul li {
        height: 3.4rem;
    }
    .email-line {
        height: 3rem;
    }
}

.read:hover {
    background-color: rgba(240, 216, 229, 0.507);
}

.email-line {
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.email-list-container ul {
    margin: 0;
    padding: 0;
}

.email-list-container ul li {
    border-top: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 5px;
}

.email-list-container ul li:hover {
    background-color: rgba(240, 216, 229, 0.507);
}

.email-list-container ul li h4 {
    margin-left: 20px;
}

.email-line:hover {
    cursor: pointer;
}

.email-line h4 {
    font-weight: bolder;
    justify-content: start;
}

.read {
    background-color: rgb(243, 243, 243);
    color: rgb(192, 192, 192);
}

.email-preview i {
    color: rgb(82, 82, 82);
}

.email-preview .fa-envelope {
    margin-left: 10px;
}

.email-preview .fa-envelope-open {
    margin-left: 10px;
}

.email-list-btn {
    padding: 5px;
    justify-content: end;
}

.email-list-btn:hover {
    background-color: #fff;
    border-radius: 100%;
}