.email-details-container {
    flex-flow: column;
    width: 400px;
    margin-left: 50px;
    justify-content: center;
    border: 1px solid rgb(34, 34, 34);
    margin-top: 50px;
}

.email-container {
    flex-direction: column;
    align-self: center;
}

.email-details-container h4 {
    justify-content: space-between;
}

.email-details-container h4 span {
    color: rgb(151, 151, 151);
}

.email-details-btn {
    justify-content: space-between;
}

.email-body {
    flex-direction: column;
}
