.add-note {
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 0.8rem;
    width: 100%;
    border-radius: 1rem;
}

.add-note-btn {
    width: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    color: rgb(175, 175, 175);
    font-size: 1.3rem;
    cursor: pointer;
    margin-left: 0.5rem;
}

.add-note-btn:focus {
    color: rgb(70, 70, 70);
}

.add-note-btn:hover {
    color: rgb(70, 70, 70);
}

.add-input {
    width: 21rem;
    padding: 0.3rem;
    height: 1.8rem;
    font-family: dosis;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    outline: none;
    margin-left: 0.8rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

@media (max-width: 500px) {
    .add-input {
        width: 23rem;
    }
}

@media (max-width: 700px) {
    .add-input {
        width: 31rem;
    }
}

@media (max-width: 900px) {
    .add-input {
        width: 14rem;
    }
    button.search-bar {
        display: none !important;
    }
}

@media (min-width: 900px) {
    .add-input:first-of-type {
        margin-right: 8rem;
    }
    .add-input:last-of-type {
        width: 18rem;
    }
    .add-input {
        margin-bottom: 0;
    }
}