.add-note {
    position: relative;
    background-color: rgb(233, 233, 233);
    display: inline;
    padding: 0.8rem;
    max-width: 96%;
    border-radius: 1rem;
}

.add-note-btn {
    width: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
}