section.note-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.note-preview {
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgba(128, 128, 128, 0.241);
    border-radius: 0.7rem;
    padding: 0.6rem;
    transition: all .4s;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    overflow: auto;
}

.note-li {
    max-width: 18rem;
    max-height: 28rem;
}

.note-preview .fa-envelope {
    margin-left: 5px;
}

.note-preview:hover {
    box-shadow: 1px 2px 2px rgba(189, 189, 189, 0.36);
}

img.note-img {
    width: 100%;
    max-width: 300px;
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
}

.note-video {
    margin-top: 10px;
}

div.note-time {
    display: flex;
    justify-content: space-between;
}

button.delete-btn {
    background-color: transparent;
    border: none;
}

.notes-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

p.note-type {
    font-size: 0.85rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

span.note-type {
    font-size: 0.85rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.done {
    text-decoration: line-through;
}

.not-done {
    text-decoration: none;
}

.note-control {
    margin-bottom: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 5px;
}

.note-content {
    padding-top: 0.8rem;
}

.note-content .note-type {
    margin-bottom: 0.8rem;
}